extends subpage

block content 

    script(src='/javascripts/formutils.js')
    script(src='/javascripts/users.js')
    script(src='/javascripts/bootstrap.min.js')


    script.

        function validatePassword(password, passwordConfirmation) {
            const passwordFeedbackId = '#passwordFeedback';
            const passwordConfirmationFeedbackId = '#passwordConfirmationFeedback';

            // requirement 1: must be longer than 8 characters
            if (!requirement(password, passwordFeedbackId, "Must be longer than 8 characters", (value) => { return (value.length > 8) })) { return false }

            // requirement 2: must match password confirmation
            if (!requirement(password, passwordFeedbackId, "Passwords do not match", (value) => { return (value == $('#passwordConfirmation').val()) })) { return false }

            // requirement 1: must match password
            if (!requirement(passwordConfirmation, passwordConfirmationFeedbackId, "Passwords do not match", (value) => { return (value == $('#password').val()) })) { return false }

            return true
        }

        function validateAndSubmit() {
            if (validatePassword('#password', '#passwordConfirmation')) {
                changePassword()
            } else {
                console.log('Could not change password.')
            }
        }

    //- Good Alert
    div(id='alert-box')

    div(id='page-content')
        h1 Change Password
        form(novalidate)
            input(type='hidden', name='username', id='username', value=user.username)
            div(class='form-group mb-3')
                label(for='password') New Password
                input(class='form-control', id='password', type='password', name='password', placeholder='Password', onkeyup='validatePassword(this, "#passwordConfirmation")')
                div(class='invalid-feedback', id='passwordFeedback')
            div(class='form-group mb-3')
                label(for='password-confirmation') Confirm New Password
                input(class='form-control', id='passwordConfirmation', type='password', name='passwordConfirmation', placeholder='Confirm Password', onkeyup='validatePassword("#password", this)')
                div(class='invalid-feedback', id='passwordConfirmationFeedback') 
        button(onclick='validateAndSubmit()', class='btn btn-primary') Change Password
        a(class='btn btn-outline-secondary ms-1', href='/users') Cancel
    
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/socketutils.js")
    script.
        var socket = io()
        addLogoffListener(socket);