doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/javascripts/all.min.js')
    script(src='/javascripts/jquery.min.js')
  body

    //- Navbar
    ul(class='nav nav-pills m-2')
      li(class='nav-item')
        a(class='nav-link' + (title == 'Scoreboard' ? ' active' : ''), href='/') Scoreboard
      if user != null
        li(class='nav-item')
          a(class='nav-link' + (title == 'Teams' ? ' active' : ''), href='/teams') Teams
        li(class='nav-item')
          a(class='nav-link' + (title == 'Users' ? ' active' : ''), href='/users') Users
      else
        li(class='nav-item')
          a(class='nav-link' + (title == 'Login' ? ' active' : ''), href=`/login?to=${encodeURIComponent('/')}`) Login

    div(class='container mt-5')
        div(id='alert-box')
        //- Content
        block content
