small.is-valid
    color: green
small.is-invalid
    color: red
.delete-button
    color: red
    background-color: Transparent
    background-repeat:no-repeat
    border: none
    cursor:pointer
    overflow: hidden
    outline:none
.user-tool-button
    margin-right: 10px